@import "../../common.module.scss";

.button {
  color: white;
  padding: 1rem;
  border: none;
  outline: none;
  font: inherit;
  border-radius: 2rem;

  width: 10rem;
  background: $gradient;
  text-transform: uppercase;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

}